<form id="static-form" method="POST">
    <fieldset>
        <legend>Palindrome Checking Form</legend>
            <div class="form-group">
                <label for="phrase"> Enter a Phrase: </label>
                <textarea name = "phrase" class = "phrase" id= "phrase"></textarea>
                <label>
                     <input type="submit" value="Submit" class = "btn">
                </label>
            </div>
            <div class="form-group hidden" id="error-container">
                <div class="alert alert-danger text-goes-here"></div>
            </div>
            <div class="form-group hidden" id="result-container">
                <div class="alert alert-success text-goes-here"></div>
            </div>
    </fieldset>
</form>
<ol id="attempts"></ol> 