<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Logout</title>
    <link rel="stylesheet" href="../../public/site.css">
</head>
<body>
    <header>
            <h1>You have been logged out!</h1>
    </header>
    <main>
        <div class = "buttonDiv">
            <button type="button" class="submit" onclick="window.location.href='./'" > Login </button>
        </div>
    </main>
</body>
</html>