<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Palindrome Checker</title>
    <link rel="stylesheet" type="text/css" href="public/site.css">
</head>
<body>
    <main class="container">
        <h1>Palindrome Checker</h1>
        <div class="row">
            {{{body}}}
        </div>
    </main>
    <footer>
        <p class= "Anshul" id="Anshul">Anshul Kapoor CWID:10456388</p>
    </footer>
    <script src="public/form.js"></script>
</body>
</html>