body{
    background-color:gainsboro;
}

h1 {
    border: 5px solid;
}

p {
    font-style: normal;
    margin: 35px;
}

form {
    display: block;
    margin-top: 1em;
}

input[type="text"] {
    display: block;
}

input[type="password"] {
    display: block;
}

input[type="submit"] {
    font-family: Cambria;
}





